extends layout

block content
    .defaultbanner.shadow
        h1 About
        
        .shadow
            h2 How the matching algorithm works
            p The matching algorithm works by grouping players of similar rank. The algorithm looks at 
                | which games a user plays, as well as for how long, and displays other users with similar 
                | stats. 

        .shadow
            h2 The architecture that was used
            p The website uses an MVC architecture. Whenever the server receives a request, it gets send to the 
                | router. The router then selects the appropriate controller for the request. If needed, the 
                | controller can query the database and retrieve the required information. After the controller 
                | has finished, it renders a HTML page from a template to display on the screen.

        .shadow
            h2 The design choices made along the way
            p One design choice we made was to allow for steam integration in the registration. This way, users can 
                | log in with their steam account and the registration data can be auto-filled. Another design choice
                | was to implement our own ranking system. This was to help users find matches with other users that
                | have the same ability as them.

        .shadow
            h2 Any difficulties faced along the way
            p The steam integration service was extremely time-consuming and difficult to implement.

        .shadow
            h2 Tests, validation, and results
            p No tests cases were done due to time constraints. However data validation was implemented on login, registration, and
                | account updates.

        .shadow
            h2 Student information
            p Konrad Obara
            p Matthew Satti - 21728805
            p Sreejith VM 

        section.listitem.shadow
            h2 References
            ul
                li.grow
                    img(src='/images/users.png' alt='User Logo')
                    a(href='http://www.freeiconspng.com/uploads/user-login-icon-14.png')
                        p User Logo
                li.grow
                    img(src='/images/server.png' alt='Server Logo')
                    a(href='http://nugetserver.net/gfx/logo.png')
                        p Server Logo
                li.grow
                    img(src='/images/backg.jpg' alt='Background Logo')
                    a(href='https://s-media-cache-ak0.pinimg.com/originals/3b/d4/02/3bd402c7e197c1b27e5ec3299d59c177.jpg')
                        p Background
                li.grow
                    img(src='/images/controller.png' alt='Controller')
                    a(href='https://img.clipartfox.com/6cde9a465cb0feb5e7ca99d5fe5329e2_open-png-clipart-game-controller_2000-1640.png')
                        p Controller
                li.grow
                    img(src='/images/twitter.png' alt='Twitter')
                    a(href='https://www.educ.cam.ac.uk/centres/kazakhstan/team/Twitter_alt_3.png')
                        p Twitter Logo
                li.grow
                    img(src='/images/steam.png' alt='Steam')
                    a(href='http://www.iconarchive.com/download/i97798/bokehlicia/pacifica/steam.ico')
                        p Steam Logo
                li.grow
                    img(src='/images/overwatch.jpg' alt='Overwatch')
                    a(href='https://cdn0.vox-cdn.com/thumbor/TuDF3mz8JGdbIQaq0uOcSokCN7E=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6557539/overwatch-review-screen-3.0.jpg')
                        p Overwatch
                li.grow
                    img(src='/images/logo.png' alt='Logo')
                    a(href='https://cdn.dribbble.com/users/351683/screenshots/2122718/desktop_hd_1x.png')
                        p Main Logo
                li.grow
                    img(src='/images/tf2.jpg' alt='TF2')
                    a(href='http://www.dontpaniconline.com/media/magazine/660x420/mag-1309796107.jpg')
                        p Team Fortress 2
                li.grow
                    img(src='/images/csgo.jpg' alt='CSGO')
                    a(href='https://images.g2a.com/m/1024x768/1x1x0/thumbnail/c/s/29264b0e66fe_cs_go_13_.jpg')
                        p CSGO
                li.grow
                    img(src='/images/dota2.jpg' alt='Dota 2')
                    a(href='https://cdn.steamstatic.com/apps/dota2/images/reborn/day1/GuidedBotMatches.jpg')
                        p DOTA 2
                li.grow
                    img(src='/images/rank.png' alt='Rank Logo')
                    a(href='https://cdn1.iconfinder.com/data/icons/the-competition/450/ribbon-512.png')
                        p Rank Logo
                li.grow
                    p Team Fortress 2, Wikipedia.org October 10, 2007 Avaliable from:  https://en.wikipedia.org/wiki/Team_Fortress_2
                li.grow
                    p Overwatch, Wikipedia.org May 24, 2016 Avaliable from: https://en.wikipedia.org/wiki/Overwatch_(video_game)
                li.grow
                    p Counter-Strike: Global Offensive, Wikipedia.org August 21, 2012 Avaliable from: https://en.wikipedia.org/wiki/Counter-Strike:_Global_Offensive
                li.grow
                    p Dota 2, Wikipedia.org, July 9, 2013, https://en.wikipedia.org/wiki/Dota_2
