<!DOCTYPE html>
<html lang="en">


<head>
<title>
	GAME NODE
</title>
<link href="style.css" rel="stylesheet" type="text/css">
<script src="script.js" type="text/javascript"></script>
<meta charset="UTF-8">
</head>

<body onload="initime()">
<nav>
	<ul>
		<li id="login" ><a href="register.html"> LOGIN/REGISTER </a> </li>
		<li class = "current"><a href="about.html"> ABOUT US </a> </li>
		<li><a href="games.html"> GAMES </a> </li>
		<li><a href="Friends.html"> FRIENDS </a> </li>
 		<li><a href="main.html"> HOME </a> </li>
 		<li id="barlogo"><a href="main.html"> <img src="logo.png" alt="Main Logo"> </a> </li>
 		<li id="maintitle"> <h2> GAME NODE </h2> </li>
	</ul>
</nav>
	
<div class="defaultbanner shadow">
	<h1> ABOUT </h1>
	<p class="shadow"> Webpage created by Konrad Obara 21721462 for CITS3403. The theme is a video game matchmaking service. It will pair players up based on their achieved rank. Below are the images and their cooresponding sources I used in this project. </p> 
</div>

<section class="listitem shadow ">

	<ul>
		<li class="grow"> <img src="users.png" alt="User Logo"> <a href="http://www.freeiconspng.com/uploads/user-login-icon-14.png"> <p> User Logo </p> </a> </li>

		<li class="grow"> <img src="server.png" alt="Server Logo"> <a href="http://nugetserver.net/gfx/logo.png"> <p> Server Logo </p> </a> </li>

		<li class="grow"> <img src="backg.jpg" alt="Background Logo"> <a href="https://s-media-cache-ak0.pinimg.com/originals/3b/d4/02/3bd402c7e197c1b27e5ec3299d59c177.jpg"> <p> Background </p> </a> </li>

		<li class="grow"> <img src="controller.png" alt="Controller"> <a href="https://img.clipartfox.com/6cde9a465cb0feb5e7ca99d5fe5329e2_open-png-clipart-game-controller_2000-1640.png"> <p> Controller </p> </a> </li>

		<li class="grow"> <img src="twitter.png" alt="Twitter"> <a href="https://www.educ.cam.ac.uk/centres/kazakhstan/team/Twitter_alt_3.png"> <p> Twitter Logo </p> </a> </li>

		<li class="grow"> <img src="steam.png" alt="Steam"> <a href="http://www.iconarchive.com/download/i97798/bokehlicia/pacifica/steam.ico"> <p> Steam Logo </p> </a> </li>

		<li class="grow"> <img src="overwatch.jpg" alt="Overwatch"> <a href="https://cdn0.vox-cdn.com/thumbor/TuDF3mz8JGdbIQaq0uOcSokCN7E=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6557539/overwatch-review-screen-3.0.jpg"> <p> Overwatch </p> </a> </li>

		<li class="grow"> <img src="logo.png" alt="Logo"> <a href="https://cdn.dribbble.com/users/351683/screenshots/2122718/desktop_hd_1x.png"> <p> Main Logo </p> </a> </li>

		<li class="grow"> <img src="tf2.jpg" alt="TF2"> <a href="http://www.dontpaniconline.com/media/magazine/660x420/mag-1309796107.jpg"> <p> Team Fortress </p> </a> </li>

		<li class="grow"> <img src="csgo.jpg" alt="CSGO"> <a href="https://images.g2a.com/m/1024x768/1x1x0/thumbnail/c/s/29264b0e66fe_cs_go_13_.jpg"> <p> CSGO </p> </a> </li>

		<li class="grow"> <img src="dota2.jpg" alt="Dota2"> <a href="https://cdn.steamstatic.com/apps/dota2/images/reborn/day1/GuidedBotMatches.jpg"> <p> DOTA2 </p> </a> </li>

		<li class="grow"> <img src="rank.png" alt="Rank Logo"> <a href="https://cdn1.iconfinder.com/data/icons/the-competition/450/ribbon-512.png"> <p> Rank Logo </p> </a> </li>

		<li class="grow"> <p> Team Fortress 2, Wikipedia.org October 10, 2007 Avaliable from:  https://en.wikipedia.org/wiki/Team_Fortress_2 </p>

		<li class="grow"> <p> Overwatch, Wikipedia.org May 24, 2016 Avaliable from: https://en.wikipedia.org/wiki/Overwatch_(video_game) </p>

		<li class="grow"> <p> Counter-Strike: Global Offensive, Wikipedia.org August 21, 2012 Avaliable from: https://en.wikipedia.org/wiki/Counter-Strike:_Global_Offensive </p>

		<li class="grow"> <p> Dota 2, Wikipedia.org, July 9, 2013, https://en.wikipedia.org/wiki/Dota_2 </p>

		

	
	</ul>

</section>

<footer>
	
		<ul>
 		<li><a href="home.html"> HOME </a> </li>
 		<li><a href="Friends.html"> FRIENDS </a> </li>
 		<li><a href="games.html"> GAMES </a> </li>
 		<li><a href="about.html"> ABOUT US </a> </li>
 		<li id="time"> </li>
 		<li id="modtime"> Last Modification Time: </li>
 		</ul>
 		
</footer>

</body>

</html>