extends layout

block content
    style.
        * { padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: white; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; background: lightblue; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        .messageBox { margin: 140px 100px 100px 100px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li.me { background: lightblue; color: black; }
        #messages li:not(.me) { background: white; color: black; }

    .messageBox
        ul#messages
    form(action='')
        input#m(autocomplete='off')
        button Send

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function() {
            var socket = io();
            socket.emit('join', {id: '#{user.id}'});
            $('form').submit(function() {
                var msg = $('#m').val();
                $('#messages').append($('<li class="me">').text('You: ' + msg));
                socket.emit('send', {to: '#{friend}', message: msg});
                $('#m').val('');
                return false;
            });
            socket.on('receive', function(message) {
                $('#messages').append($('<li>').text('Them: ' + message));
            });
        });