extends layout

block header
	nav
		ul
			li#login
				a(href='register.html') Login/Register
			li
				a(href='about.html') About Us
			li
				a(href='games.html') Games
			li
				a(href='friends.html') Friends
			li.current
				a(href='main.html') Home
			li#barlogo
				a(href='main.html')
					img(src='images/logo.png', alt='Main Logo')
			li#maintitle
				h2 Game Node

block content
	.defaultbanner.shadow
		h1 FRIENDS
		p.shadow Here you can add new friends chat with old ones. 

	.friendsearch.shadow
		form
			input#friendadd



	.friendslist
		form
			input#friendsearch
			

		for friend in friendslist
			.friendItem
			a(href=friend.userpage)
				img(src=friend.avatar)
				p #{friend.loc}
