extends layout

block content
	.defaultbanner.shadow
		h1 FRIENDS
		p.shadow Here you can add new friends and chat with old ones. 

	.friendsearch.shadow
		form
			lable(for='friendName') Friend's Username: 
			input#friendadd(type='text', name = 'friendName')
			input(type='submit', name = 'submit')

	.friendslist
		form
			input#friendsearch
			
		ul#friendlist
			for friend in friendslist
			
				a(href=friend.userpage)
					img(src=friend.avatar)
					p #{friend.loc}
				a(href='/delete/'+ friend._id) Remove Friend