extends layout

block content
	.defaultbanner.shadow
		h1 FRIENDS
		p.shadow Here you can add new friends and chat with old ones. 

	.friendsearch.shadow
		form
			lable(for='friendName') Friend's Username: 
			input#friendadd(type='text', name = 'friendName')
			input(type='submit', name = 'submit')

	.friendslist
		form
			input#friendsearch
			
		ul#friendlist
			each pal in '#{friendUsers}'
				if pal.status == 'accepted'
					li
						img(src=pal.avatar)
						p pal.friend.username
						p pal.friend.globalrank
						a(href='/delete/'+ pal.friend.username) Remove Friend