extends layout 

block content 
	.defaultbanner.shadow
		h1 GAMES
		p.shadow Below is the selection of games that you can play using our matchmaking services.

	.games.shadow
		for game in gamelist
			a(href=game.link)
				img(src=game.image)
				p game.desc
