doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		// The header content
		nav
			if (!user)
				a#login(href='/register') Login/Register
			else
				.dropdown
					a(href='/profile') #{user.name}
					.dropdown-content
						a(href='/profile') User Profile
						a(href='#') Edit Profile
						a(href='#') Account Settings
						a(href='#') Log Out
			a(href='/about') About Us
			a(href='/games') Games
			a(href='/friends') Friends
			a.current(href='/') Home
			a#barlogo(href='/')
				img(src='images/logo.png', alt='Main Logo')
			h2#maintitle Game Node

		// The body content
		block content

		// The footer content
		footer
			ul
				li
					a(href='/') Home
				li
					a(href='/friends') Friends
				li
					a(href='/games') Games
				li
					a(href='/about') About Us
				li#time
				li#modtime
			script(src='javascripts/footer.js', type='text/javascript')