extends layout

block content
	.shadow.login
		form(action='', method='POST')
			fieldset
				legend #[strong Login]
				label Username
				br
				input(type='text', name='username', required)
				br
				label Password
				br
				input(type='password', name='password', required)
				br
				input(type='submit', value='Submit')