extends layout

block content
    .regcontainer.shadow
        .login
            form(action='/login', method='POST')
                fieldset
                    legend Login
                    label Username:
                    br
                    input(type='text', name='username', required)
                    br
                    label Password:
                    br
                    input(type='password', name='password', required)
                    br
                    input(type='submit', value='Submit')
                    input(type='reset', value='Reset')