nav
    block login
    a(href='about.html') About Us
    a(href='games.html') Games
    a(href='friends.html') Friends
    a.current(href='main.html') Home
    a#barlogo(href='main.html')
        img(src='images/logo.png', alt='Main Logo')
    h2#maintitle Game Node