extends nav-bar
block login
    .dropdown
        a(href='#') Username
        .dropdown-content
            a(href='#') User Profile
            a(href='#') Edit Profile
            a(href='#') Account Settings
            a(href='#') Log Out