extends layout 

block content
    .matchCont.shadow
      img.shadow(src='/images/Batman-joker.jpg', alt='Batman-joker')
      br
      h1 Find Your Matches
      br
      .matDescrip
        p #{user.name} We will help you play games with your level of intellect.
              | Select games to find your preferred matches.
    
    .gamelist.shadow
      form(action='', method='POST', onsubmit='return validateMatchForm()') 
        fieldset#games
          legend #[strong Select a game]
          label TF2
          input.cbox(type='radio' name='Tf2') 
          label CSGO
          input.cbox(type='radio' name='CSGO')
          br
          label Dota2
          input.cbox(type='radio' name='Dota2')
          label Overwatch
          input.cbox(type='radio' name='Overwatch')
          br
        fieldset.additPref 
          p#pref(onclick='showPreferences()') Additional Preferences  
            img#downArrow(src='/images/arrow-down.png', alt="down-arrow")
          ol#prefList
            li 
              label Age
              input#fromAge(type='text', name='fromAge', placeholder="Min Age")
              input#toAge(type='text', name='toAge', placeholder="Max Age")
            li 
              label Rank
              input#ranks(type='number', name='rank', placeholder="Preferred Rank")
            li 
              label No of Matches
              input(type='number', name='noOfMat', placeholder='No of Matches ', max=10)
              input(type="hidden" name="username" value="#{user.username}")
              input(type="hidden" name="location" value="#{user.location}")
        input#matchButn(type='submit', value='Find Matches')      
        script(src='/javascripts/validate.js', type='text/javascript')
